<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BdLoc{% endblock %}</title>
        {% block stylesheets %}
        <!-- Style CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        {% endblock %}
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body>
        <div id="container">
            <header>

                <div id="h1"><a href=" {{ path('home') }} ">BdLoc</a></div>
                    {% block header %}{% endblock %}
                <div id="log">
                    {% if app.user and is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}
                        Bonjour <b>{{ app.user.username }}</b> !!<br/>       
                        <a href="{{ path('logout') }}">Deconnexion</a>
                    {% endif %}
                </div>
                <HR>
            </header>
            
            <section>
                {% block body %}{% endblock %}
            </section>

            <footer>
                {% block footer %}
                    <p>
                        &copy; Copyright 2015.<br/>
                        Anthony PECRIAUX, Sofiane BERRABAH, Amadou DABITAO.
                    </p>
                    <div>
                        <a href=" {{ path('rules') }} ">Reglement</a>
                    </div>
                {% endblock %}
            </footer>
        {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
