{% extends 'base.html.twig' %}
{% block body %}
<h1>catalogue</h1>

{% for book in books %}
    
    <div class="apercu">
    <img class="cover" src="{{asset('images/Couvertures/'~book.cover)}}" alt="cover">

    {{book.title}}

    {% if not book.dessinateur == NULL %}

        {{"autheur : "}}{{book.dessinateur.prenom}}
                        {{book.dessinateur.nom}}
    
    {%endif%}
{% if not book.coloriste == NULL %}
    {{"coloriste : "}}{{book.coloriste.prenom}}
                        {{book.coloriste.nom}}

                        {%endif%}
{% if not book.scenariste == NULL %}
    {{"scenariste : "}}{{book.scenariste.prenom}}
                        {{book.scenariste.nom}}

                        {%endif%}

{% if book.exemplaires > 0 %}
    {{book.exemplaires}}{{" dispos !"}}
{%endif%}

{% if book.exemplaires == 0 %}
{{"indisponible !"}}

{%endif%}






    </div>


    {% endfor %}

{% endblock %}