{% extends 'base.html.twig' %}

{% block filtre %}
    <h1>catalogue</h1>
    <aside>
        {{ form(createBookForm) }}
    </aside>
{% endblock %}

{% block body %}

    <div id="nav-page">
    
        <ul class="pagination">

            {% if paginationResults.prevPage %}

                <li><a id="prec" href="{{ path('catalogue', {page: paginationResults.prevPage}) }}" data-action="{{ path('catalogue', {page: paginationResults.prevPage}) }}"><i class="fa fa-arrow-circle-left"></i> Précédent</a></li>

            {% endif %}

            <div class="sous-pagination">{{ paginationResults.nowShowingMin }} à {{ paginationResults.nowShowingMax }} sur {{ paginationResults.total }}</div>

            {% if paginationResults.nextPage %}

                <li><a id="suiv" href="{{ path('catalogue', {page: paginationResults.nextPage}) }}">Suivant <i class="fa fa-arrow-circle-right"></i></a></li>

            {% endif %}

        </ul>
    </div>


    {% for book in paginationResults.data %}
        
        <article class="apercu">
        <img class="cover" src="{{asset('images/Couvertures/'~book.cover)}}" alt="cover">

        <h4>{{book.title}}</h4>

        {% if not book.dessinateur == NULL %}

            
            <div>De:<strong>{{book.dessinateur.prenom}}
            {{book.dessinateur.nom}}</strong></div>
        
        {%endif%}
        {% if not book.coloriste == NULL %}
            
            
            <div>Coloriste: <strong>{{book.coloriste.prenom}}
            {{book.coloriste.nom}}</strong></div>

        {%endif%}
        
        {% if not book.scenariste == NULL %}
            
            <div>Scenariste: <strong>{{book.scenariste.prenom}}
            {{book.scenariste.nom}}</strong></div>

        {%endif%}

        {% if book.exemplaires > 0 %}
            <div class="toto">
                <span class="dispo" value=" {{book.exemplaires}} ">{{book.exemplaires}}</span> dispos !
            </div>

            <button data-bdid="{{path("ajoutPanier",{id:book.id})}}" class="ajoutPanier">ajouter au panier</button>

        {%endif%}

        {% if book.exemplaires <= 0 %}
        </br>
        <div style="color:red">{{"indisponible !"}}</div>

        {%endif%}

        <!-- Bouton pour activer modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal-{{book.id}}">
          Plus de détails
        </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal-{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title" id="myModalLabel">Titre: {{ book.title }}</h2>
                  </div>
                  <div class="modal-body">
                    <article>
                        <img class="cover" src="{{asset('images/Couvertures/'~book.cover)}}" alt="cover">

                        <h4>
                            <div>Nom de la série: {{book.serie.title}} || Langue: {{book.serie.langue}}</div>
                            <div>Catégorie: {{book.serie.style}}</div>
                        </h4>
                        
                        {% if not book.dessinateur == NULL %}
                            <h4>Autheur: {{book.dessinateur.prenom}} {{book.dessinateur.nom}}</h4>
                        {%endif%}

                        {% if not book.coloriste == NULL %}
                            <h4>Coloriste: {{book.coloriste.prenom}} {{book.coloriste.nom}}</h4>
                        {%endif%}
                        {% if not book.scenariste == NULL %}
                            <h4>Scenariste: {{book.scenariste.prenom}} {{book.scenariste.nom}}</h4>
                        {%endif%}

                        {% if book.exemplaires > 0 %}
                            <h4>Disponibilité: <strong>{{book.exemplaires}}</strong> dispos !</h4>
                        {%endif%}

                        {% if book.exemplaires == 0 %}
                            <h4>indisponible !</h4>
                        {%endif%}

                        {% if book.nbPages != NULL %}
                            <h4>Nombre Pages: {{book.nbPages}}</h4>
                        {%endif%}

                    </article>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                  </div>
                </div>
              </div>
            </div>
        </article>

    {% endfor %}
    <div id="nav-page">
    
        <ul class="pagination">

        {% if paginationResults.prevPage %}

            <li><a id="prec" href="{{ path('catalogue', {page: paginationResults.prevPage}) }}"><i class="fa fa-arrow-circle-left"></i> Précédent</a></li>

            {% endif %}

            <div class="sous-pagination">{{ paginationResults.nowShowingMin }} à {{ paginationResults.nowShowingMax }} sur {{ paginationResults.total }}</div>


            {% if paginationResults.nextPage %}
                <li><a id="suiv" href="{{ path('catalogue', {page: paginationResults.nextPage}) }}">Suivant <i class="fa fa-arrow-circle-right"></i></a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}

    {{parent()}}

    <script type="text/javascript">
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    });

    </script>

{% endblock %}
