{% extends 'base.html.twig' %}
{% block body %}
<h1>catalogue</h1>

    {% block aside %}
    <aside>tri</aside>
    {% endblock %}

    {% for book in books %}
        
        <article class="apercu">
        <img class="cover" src="{{asset('images/Couvertures/'~book.cover)}}" alt="cover">

        <h4>{{book.title}}</h4>

        {% if not book.dessinateur == NULL %}

            
            {{"De:"}} {{book.dessinateur.prenom}}
            {{book.dessinateur.nom}}</br>
        
        {%endif%}
        {% if not book.coloriste == NULL %}
            
            
            {{"Coloriste:"}} {{book.coloriste.prenom}}
            {{book.coloriste.nom}}</br>

        {%endif%}
        
        {% if not book.scenariste == NULL %}
            
            {{"Scenariste:"}} {{book.scenariste.prenom}}
            {{book.scenariste.nom}}</br>

        {%endif%}

        {% if book.exemplaires > 0 %}

            {% if book.exemplaires <= 3 %}
                {{"Vite plus que:"}} <b>{{book.exemplaires}}</b> {{" dispos !"}}</br>
            {%endif%}

            {% if book.exemplaires > 3 %}
                {{"Encore:"}} <b>{{book.exemplaires}}</b> {{" dispos !"}}</br>
            {%endif%}</br>

            <button data-bdid="{{path("ajoutPanier",{id:book.id})}}" class="ajoutPanier">ajouter au panier</button>

        {%endif%}

        {% if book.exemplaires == 0 %}
        {{"indisponible !"}}</br>

        {%endif%}


            



        <!-- Bouton pour activer modal -->
        </br></br><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal-{{book.id}}">
          Plus de détails
        </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal-{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title" id="myModalLabel">Titre: {{ book.title }}</h2>
                  </div>
                  <div class="modal-body">
                    <article>
                    <img class="cover" src="{{asset('images/Couvertures/'~book.cover)}}" alt="cover">

                        <h4><u>{{"Nom de la série:"}}</u>  {{book.serie.title}} || <u>{{"Langue:"}}</u> {{book.serie.langue}}</br></br>
                        <u>{{"Catégorie:"}}</u>
                        {{book.serie.style}}
                        </h4>
                        
                        {% if not book.dessinateur == NULL %}

                            <h4><u>{{"Autheur:"}}</u> {{book.dessinateur.prenom}} {{book.dessinateur.nom}}</h4></br>
                
                        {%endif%}
                    {% if not book.coloriste == NULL %}
                        <h4><u>{{"Coloriste:"}}</u> {{book.coloriste.prenom}} {{book.coloriste.nom}}</h4>

                                            {%endif%}
                    {% if not book.scenariste == NULL %}
                        <h4><u>{{"Scenariste:"}}</u> {{book.scenariste.prenom}} {{book.scenariste.nom}}</h4>

                                            {%endif%}

                    {% if book.exemplaires > 0 %}
                        <h4><u>{{"Disponibilité:"}}</u> <b>{{book.exemplaires}}</b> {{" dispos !"}}</h4>
                    {%endif%}

                    {% if book.exemplaires == 0 %}
                    <h4><u>{{"Disponibilité:"}}</u> {{"indisponible !"}}</h4>

                    {%endif%}

                            </article>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                          </div>
                        </div>
                      </div>
                    </div>


        </article>


        {% endfor %}



{% endblock %}


{% block javascripts %}

    {{parent()}}

    <script type="text/javascript">
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    });

    </script>

{% endblock %}
