{% extends 'base.html.twig' %}

{% block body %}

    {% for order in orders %}

        {% if order.order.user.id == app.user.id %}
            <article class="apercu">
                <img class="cover" src="{{asset('images/Couvertures/'~order.book.cover)}}" alt="cover">
                <div>{{order.dateOrder|date("d-m-Y")}}</div>
                <h4>{{order.book.title}}</h4>

                {% if not order.book.dessinateur == NULL %}
                    <div>De: {{order.book.dessinateur.prenom}}
                    {{order.book.dessinateur.nom}}</div>
                {%endif%}

                {% if not order.book.coloriste == NULL %}
                    <div>Coloriste: {{order.book.coloriste.prenom}}
                    {{order.book.coloriste.nom}}</div>
                {%endif%}

                {% if not order.book.scenariste == NULL %}
                    <div>Scenariste: {{order.book.scenariste.prenom}}
                    {{order.book.scenariste.nom}}</div>
                {%endif%}

                <a class="panier_delete btn btn-danger dropdown-toggle" href="{{ path('panier_delete', {"id":order.order.id}) }}">retirer du panier</a>
            </article>
        {% endif %}

    {% endfor %}

{% endblock %}